body {
  margin: auto;
}

/*-------------------- Map --------------------*/
#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 100vw;
  position: relative;
}

/*---------- Individual Board Containers ---------*/
.board-containers {
  width: 33vw;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

/*-------------------- Header --------------------*/
#header {
  background-color: rgb(64, 69, 39);
  color: white;
  text-align: center;
  padding: 10px;
}

h1 {
  margin: 0;
  padding: 10px 0px;
}

#nav {
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  width: 300px;
}

/*-------------------- Movement Buttons --------------------*/
/* attribution: <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
#navigation-container {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#navigation {
  text-align: center;
  background-color: #ce7845;
  color: white;
}

#movement-buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move-button {
  cursor: pointer;
}

image:hover {
  color: white;
}

#return:hover {
  background-color: #753a44c7;
}

#movement-buttons-top,
#movement-buttons-bottom {
  height: 60px;
}

#movement-buttons-center {
  display: flex;
  align-items: center;
}

#return {
  height: 60px;
  width: 70px;
  border-radius: 10px;
  background-color: #5c2932;
  color: white;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

#north {
  height: 60px;
  width: 60px;
  transform: rotate(270deg);
}

#south {
  height: 60px;
  width: 60px;
  transform: rotate(90deg);
}

#east {
  height: 60px;
  width: 60px;
}

#west {
  height: 60px;
  width: 60px;
  transform: rotate(180deg);
}

/*-------------------- Info Box ------------------*/
#info-wrapper {
  width: 20vw;
  height: 50vh;
  text-align: center;
}

#info {
  background-color: #ce7845;
  color: white;
}

/*----------------- Modal ------------------------*/

#modal-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.modal {
  width: 30vw;
  height: 30vh;
  background-color: #c9b1a5ef;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
}

select {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  text-align: center;
  font-weight: 700;
  color: white;
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
  /* background-color: #404527; */
  align-self: center;
  background-image: url("./components/images/vermont-trees.jpg");
  /* padding-left: 10vw; */
}

select:hover {
  background-color: #753a44c7;
  color: black;
}

.modal-cancel {
  width: 10vw;
  height: 3.2vh;
  background-color: #5c2932;
  color: white;
  border-radius: 5px;
}

#modal-submit {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 10vw;
  height: 3.2vh;
  background-color: #5c2932;
  color: white;
  border-radius: 5px;
}

#modal-submit:hover {
  background-color: #753a44c7;
  color: black;
}
.modal-cancel:hover {
  background-color: #753a44c7;
  color: black;
}

/*----------------Player Name Modal----------------*/
#playerName-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

#player-name-modal {
  width: 30vw;
  height: 30vh;
  background-color: #c9b1a5ef;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
}

#player-name-modal > h1 {
  padding-bottom: 0;
}
#player-name-modal > h2 {
  padding-top: 0;
  margin-top: 0;
}

#name-input {
  border-radius: 1px;
  height: 2.5vh;
}
#name-input:hover {
  border: 1px solid #5c2932;
}

#play-again {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 8vw;
  height: 3.3vh;
  background-color: #5c2932;
  border-style: none;
  color: white;
}
#play-again:hover {
  background-color: #753a44c7;
  cursor: pointer;
  color: black;
}
/*----------------- Game Play Buttons ------------------------*/
#button-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#button-container button {
  background-color: rgb(64, 69, 39);
  color: white;
  font-size: 25px;
  border-radius: 5px;
  height: 6vh;
  width: 8vw;
  margin: 20px;
}

#button-container button:hover {
  color: black;
  background-color: rgba(127, 131, 106, 0.897);
  cursor: pointer;
}

/*----------------- Instructions ------------------------*/
#instruction-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  position: absolute;
  z-index: 2;
}

#instructions {
  cursor: pointer;
}

#instructions:hover {
  color: black;
}

.instruction-modal {
  width: 40vw;
  height: 100%;
  background-color: #c9b1a5ef;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
}

.instruction-modal h3 {
  margin: 5px 20px;
}

.instruction-modal p {
  margin: 0px 20px;
}

.instruction-modal button {
  margin: 30px;
  width: 10vw;
  height: 3.2vh;
  background-color: #5c2932;
  color: white;
  border-radius: 5px;
}

.instruction-modal button:hover {
  background-color: #753a44c7;
  color: black;
}
